# Rust target directory
/core/target/
**/target/

# Generated flutter_rust_bridge_codegen code
**/frb_generated.*
/ui/lib/src/rust/

# Cargo build artifacts
**/Cargo.lock

# macOS
*.DS_Store

# Flutter and Dart
/ios/Pods/
/.dart_tool/
/build/
**/pubspec.lock

# VS Code
.vscode/

# JetBrains
.idea/

# Misc
*.log
_*
